RewriteEngine On

# Redireciona todas as requisições para a pasta public/
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

# Forçar HTTPS (opcional, se ainda não configurado)
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]